.productimg-small{

    height: 78px;
    width: 80px;
}
.productimg-Big{
    width: 520px;
    height: 393px;
}
.available{
    color: rgb(6, 168, 6);
    margin-top: 8px;
}
.price{
    margin-top: 15px;

}
.btn{
    margin-top: 15px;
}
.delivery{
    margin-top: 15px;
}
.location{
    margin-top: 17px;
}
.discount{
    margin-top: 24px;
}



