
<div>
    <div class="card">
        <div class="container">
                <div class="row mt-5">
                    
                    <div class="col-8 d-flex justify-content-around">
                            <div>
                            <span>INFORMATION</span>        
                            <div class="list text-secondary mt-3">        
                                        <li class="nav-item active" style="list-style: none;">
                                            <a class="nav-link text-decoration-none" href="#">open </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">New Products </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Shop </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Offers </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Store Location</a>
                                        </li>
                                </div>
                            </div>      
                            <div>
                            <span>ABOUT US</span>        
                            <div class="list text-secondary mt-3">        
                                        <li class="nav-item active" style="list-style: none;">
                                            <a class="nav-link text-decoration-none" href="#">Our Story</a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">General Enquiries </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Contact Us</a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">FAQs </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Terms & Conditions</a>
                                        </li>
                                </div>
                            </div>      
                            <div>
                            <span>SHOP</span>        
                            <div class="list text-secondary mt-3">        
                                        <li class="nav-item active" style="list-style: none;">
                                            <a class="nav-link text-decoration-none" href="#">All products </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">special Offer</a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Brands </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Grocery </a>
                                        </li>
                                        <li class="nav-item active"style="list-style: none;">
                                            <a class="nav-link" href="#">Daily Needs</a>
                                        </li>
                                </div>
                            </div>      
                            
                    </div>
                    <div class="col-4">
                                <div>
                                    <span>NEWSLATTER</span>
                                    <li class="list text-secondary nav-item active mt-3"style="list-style: none;">
                                        <a class="nav-link" href="#">Register now to get updates on promotions & coupons </a>
                                    </li>
                                    <div class="input-group">
                                        
                                        <div class="mt-3 position-relative">
                                            <input type="text" class="form-control rounded-pill pe-5" placeholder="Enter your email">
                                            <!-- <div class="position-absolute top-0 end-0 "> -->
                                              <button class="btn bg-dark text-light btn-outline-secondary rounded-pill position-absolute top-0 end-0" type="button">Subscribe</button>
                                            <!-- </div> -->
                                          </div>
                                    </div>

                                    <div class="mt-3 d-flex gap-3">
                                        <div>
                                            <img src="assets/img/youtubeIcon.svg"  alt="facebook">
                                        </div>
                                        <div>
                                            <img src="assets/img/instaIcon.svg" alt="instagram">
                                        </div>
                                        <div>
                                            <img src="assets/img/facebookIcon.svg" alt="youtube">
                                        </div>
                                        <div>
                                            <img src="assets/img/linkedinIcon.svg" alt="linkedin">
                                        </div>
                                       
                                    </div>
                                </div>

                    </div>               
                </div>

                
                <div class="mt-5 border-top p-4 border-light-2 d-flex justify-content-around">
                            <div>
                                <span><b>Epic Grocery</b>2021, All Rights Reserved</span>
                            </div>  
                            <div>
                                <span class="text-secondary">We Use Secure Payment Processing Methods</span>
                                <img class="p-2" src="assets/img/visaIcon.svg" alt="">
                                <img class="p-2" src="assets/img/cardIcon.svg" alt="">
                                <img class="p-2" src="assets/img/applepayIcon.svg" alt="">
                                <img class="p-2" src="assets/img/americanIcon.svg" alt="">
                            </div>

                </div>




        </div>
    </div>
</div>