
    <div class="position-relative">
        <img src="assets/img/Rectangle 111.svg" alt="">
    
        <div class="position-absolute"style="left: 5%; top: 30%;">
            <!-- <div> -->  
                <!-- <span class="offer">Summer offer 20% Off</span> -->
                <span class="offer">Summer offer 20% Off</span>
                <h2><b>Fresh Fruits Big Sale</b></h2>
                <button type="button" class="btn btn-success">Shope Now</button>
            <!-- </div> -->
        </div>
        
    </div>
