.offerCard1{
    height: 490px;
    width: 630px;
    background-image: url('/assets/img/offerImg1.svg');
}
.offerCard2{
    height: 490px;
    width: 630px;
    background-image: url('/assets/img/offerImg2.svg');
}
.prodName{
    color: rgb(32, 194, 40);
    margin-bottom: 23px;
}
.discount{
    font-size: xx-large;
    
}
.prodName{
    margin-bottom: 24px;
}
.card3{
    width: 1290px;
    height: 490px;
    background-image: url('/assets/img/offerImg3.svg');

}.button{
    margin-top: 24px;
}