
.bg-img{
    background-image: url('/assets/img/pattren.svg');
}
.rec-heading{
    font-size: xx-large;
}
.rec-discount{
    color:rgb(25,135,84)
}
.previous{
    height: 50px;
    width: 50px;
}
.next{
    height: 60px;
    width: 60px;
}
.reg{
    margin-top:24px;
} 
.prodGroup{
    margin-top: 96px;
}
.offer{
    margin-top: 80px;
}
.footer{
    margin-top: 80px;
}