<app-main-navbar></app-main-navbar>
  <!-- <div class="container">
<div id="carouselExampleIndicators" class="carousel slide bg-dark" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="d-flex justify-content-center carousel-item active">
        <img class="d-block w-50" src="assets/img/epicLogo.svg" alt="First slide">
      </div>
      <div class="d-flex justify-content-center carousel-item">
        <img class="d-block w-50" src="assets/img/epicTitle.svg" alt="Second slide">
      </div>
      <div class="d-flex justify-content-center carousel-item">
        <img class="d-block w-50" src="assets/img/cardIcon.svg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon previous" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#" role="button" data-slide="next">
      <span class="carousel-control-next-icon next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->

        <div class=" container" >
            <div class="row">
                <div class="col-lg-6 col-12 d-flex align-items-center ">
                        <div>
                            <p class="rec-discount">SAVE UPTO 30%</p>
                            <span class="h1 amezing_deals">Amazing<br>
                                Grocery deals</span>
                                <p>10% certifled-organic mix of fruit and veggies. Perfect for weekly cooking and snacking!
                                </p>
                    
                                <button type="button" class="btn btn-success">Shope Now</button>
                        </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="">
                        <img src="assets/img/sliderVeggie.svg" alt="" class="">
                    </div>
                </div>
            </div>

            <div><h2 class="text-center" style="margin-top: 80px;"><b>Top selling item</b></h2></div>
            <div class="text-center">
              <span class="text-secondary ">Available at best prices</span>
            </div>
            <div class="d-flex gap-2 justify-content-center reg"> 
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
          </div>
            <div><h2 class="text-center" style="margin-top: 80px;"><b>Top selling item</b></h2></div>
            <div class="text-center">
              <span class="text-secondary ">Available at best prices</span>
            </div>
            <div class="d-flex gap-2 justify-content-center reg"> 
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
            <app-reg-card></app-reg-card>
          </div>

          <div class="prodGroup d-flex justify-content-center gap-3">
            <app-product-group></app-product-group>
            <app-product-group></app-product-group>
            <app-product-group></app-product-group>
          </div>

          <div><h2 class="text-center" style="margin-top: 80px;"><b>Deals Of The Weeks</b></h2></div>
          <div class="text-center">
            <span class="text-secondary ">Recently added our store</span>
          </div>
          <div class="d-flex gap-2 justify-content-center reg"> 
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
        </div> 
          <div class="d-flex gap-2 justify-content-center reg"> 
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
          <app-reg-card></app-reg-card>
        </div>
      

        <div>
          <app-services></app-services>
        </div>
      
          <div class="offer">
            <app-offer-card></app-offer-card>
          </div>
          <div class="contact"  style="margin-top: 80px;">
            <!-- <div class="text-center">
            <h2><b>Why Shop With Us?</b></h2>
            </div> -->
            <div>
              <app-contact-us></app-contact-us>
            </div>
          </div>



          <div class="footer" >
            <app-footer-page></app-footer-page>
          </div>
      
      
      
      
      
      
      
      
  </div>
    
    
