
<div class="main">
    <div class="row">
        <div class="col-6 ">
            <div class="d-flex heading">
                <span style="font-size: xx-large;"><b>We are at</b></span>
                <span class="" style="color: rgb(67, 144, 60); font-size: xx-large; margin-left: 10px;"><b>your service</b></span>
            </div>
            <p style="height: 78px;width: 508px; margin-top: 23px;">A came with the passion to offer ethnic, high-quality Indian and English grocery items at competitive prices, which will not only make you want to buy from us but also stay with us as a regular customer.</p>
       
                <div class="row " style="margin-top: 40px;">
                    
                    <div class="col-4 xl-col-3  text-center d-flex justify-content-center">
                        <div>
                            <img src="assets/img/product.svg" alt=""><br>
                            <span>10,000+  Products</span>
                        </div>
                    </div>
                    <div class="col-4 xl-col-3 text-center d-flex justify-content-center">
                        <div>
                            <img src="assets/img/brand.svg" alt=""><br>
                            <span>3000+ Brands</span>
                        </div>
                    </div>
                    <div class="col-4 xl-col-3 text-center d-flex justify-content-center">
                        <div>
                            <img src="assets/img/support.svg" alt=""><br>
                            <span>24*7 online chat support</span>
                        </div>
                    </div>

                
                
                
                
                </div>
        </div>
        <div class="col-6  lg-w-75">
            <img src="assets/img/serviceImg.svg" alt="">
        </div>

    </div>
</div>