
    <!-- <p>main-navbar works!</p> -->
    <app-navbar></app-navbar> 
<nav class="main-nav p-2">
    <div class="container">
        <div class="row ">
            <div class="col-3 border-right ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>               
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
            </div>
            <div class="col-5 d-flex justify-content-between">
                <li class="nav-item active">
                    <a class="nav-link" href="#" [routerLink]="['/home']">Home </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link"  href="#" [routerLink]="['/new']">New Products </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#" [routerLink]="['/product']" >Shop </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#" [routerLink]="['/offer-page']">Offers </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#"  [routerLink]="['/store-location']">Store Location </a>
                  </li>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-5 text-end">
                        <span class="color">Delivery to</span>
                    </div>
                    <div class="col-7">
                        <img src="assets/img/Location.svg" alt="">
                        <span>Berkshire. RG42 3DH</span>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
    
</nav>
