
    <div class="">
        <div class="card" >
          
                <div class="d-flex justify-content-center">
                  <img src="assets/img/productImg.svg" alt="">       
                </div>
                <div class="d-flex justify-content-between" style="margin-top: 16px;">
                  <div>
                      <span class="text-secondary">maggie</span>
                  </div>
                  <div>
                      <img src="assets/img/fav.svg" alt="">
                  </div>
                </div>
                <div class="d-flex justify-content-between" style="margin-top: 4px;">
                       <div class="" style="font-size: small; width: 162px; height: 40px;">
                          <span>Madhur Pure & Hygienic
                          Sulphurless Sugar...</span>
                      </div>
                      <div class="">
                              <span><b>$0.45</b></span>
                      </div>
                </div> 
                
                <button type="button" class="btn btn-outline-dark" style="width: 210px; height: 40px; margin-top: 16px;" (click)="addToCart()"><b>Add to cart</b></button>
                 
        </div> 
    </div>













