<!-- <p>sign-in works!</p> -->
<head>
    <title>Sign Up</title>
     
  </head>
  <!-- <app-main-navbar></app-main-navbar> -->
  <body>
    <div class="container">
      <div class="logo">
        <img src="assets/img/epicLogo.svg" alt="">
        <img src="assets/img/epicTitle.svg" alt="">
      </div>
        
      <h5 class="border-bottom border-light-2 d-flex justify-content-center"><b>User Sign-In</b></h5>
         
    <form [formGroup]="loginForm" (ngSubmit)="loginProcess()">
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" formControlName="email" class="form-control">
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error-message">
          Email is required and must be a valid email address.
        </div>  
      </div>     
    
      <div class="form-group  border-bottom border-dark-2">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error-message">
          Password is required and must be at least 6 characters long.
        </div>
      </div>
      <p class="text-end"><a  href="">Forget password</a></p>
    
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
    </form>
    <p class="fs-7 mt-5 d-flex justify-content-center border-bottom border-light-2">Are you not a member ? Click here</p>
    <button type="submit" class="btn btn-primary" [routerLink]="['/sign-up']">Sign-up</button>
    </div>   
</body> 