.gradient-custom {
   
    background: #6a11cb;
    
    
    background: -webkit-linear-gradient(to right, rgb(205, 198, 212), rgb(165, 161, 161));
    
    
    background: linear-gradient(to right, rgb(243, 233, 233), rgb(221, 178, 178))
    }
    .footer{
        background: #6a11cb;
       
    
    background: -webkit-linear-gradient(to right, rgb(205, 198, 212), rgb(165, 161, 161));
    
    
    background: linear-gradient(to right, rgb(243, 233, 233), rgb(221, 178, 178))
    }