
<div class="title d-flex justify-content-center">
    <p class="fs-5"><b>Why Shop With Us?</b></p>
</div>


<div class="row"> 
    <div class="col-3 d-flex justify-content-center gap-3">
        <div class="d-flex align-item-center">
            <img src="assets/img/deliveryContact.svg" alt="">
        </div>
        <div>
            <p><b>Free Delivery</b></p>
            <p class="condition text-secondary">When you spend over £60!</p>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-center gap-3">
        <div class="d-flex align-item-center">
            <img src="assets/img/shippingContact.svg" alt="">
        </div>
        <div>
            <p><b>Shipping Info</b></p>
            <p class="condition text-secondary">Fast Service*</p>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-center gap-3">
        <div class="d-flex align-item-center">
            <img src="assets/img/loyaltyContact.svg" alt="">
        </div>
        <div>
            <p><b>Loyalty Scheme</b></p>
            <p class="condition text-secondary">Earn Points With an Account</p>
        </div>
    </div>
    <div class="col-3 d-flex justify-content-center gap-3">
        <div class="d-flex align-item-center">
            <img src="assets/img/contactContact.svg" alt="">
        </div>
        <div>
            <p><b>Contact Us</b></p>
            <p class="condition text-secondary">Here to Help</p>
        </div>
    </div>


</div>
