.main{
    height: 122px;
   width: 190px;
   display:flex ;
   justify-content: center;
   align-items: center;
}
.cool{
    text-align: center;
}

.popular_image{
    width: 40px;
    height: 37.52px;
}