<!-- <p>new-product works!</p> -->
<app-main-navbar></app-main-navbar>
<div class="container">

<div><h2 class="text-center" style="margin-top: 80px;"><b>All new arrivals</b></h2></div>
<div class="text-center">
    <span class="text-secondary ">Recently added our store</span>
  </div>
  <div class="d-flex gap-2 justify-content-center reg"> 
    <app-reg-card></app-reg-card>
    <app-reg-card></app-reg-card>
    <app-reg-card></app-reg-card>
    <app-reg-card></app-reg-card>
    <app-reg-card></app-reg-card><br><br><br>

    
  </div><br><br>
   <br><br>
    <div class="d-flex gap-3 justify-content-center"><app-product-group></app-product-group>
    <app-product-group></app-product-group>
    <app-product-group></app-product-group>
    </div>
   
    <div class="mt-5"><app-footer-page></app-footer-page></div>

</div>